# Archivo en el cual especificamos aquellos archivos o carpetas que no queremos que sean trackeadas en el repo local ni se 
# sincronicen con repo remoto

TP_1/build
TP_1/dist
TP_1/nbproject
TP_1/Makefile
TP_1/.dep.inc

TP_2a/TP2_ej_1/build
TP_2a/TP2_ej_1/dist
TP_2a/TP2_ej_1/nbproject
TP_2a/TP2_ej_1/Makefile
TP_2a/TP2_ej_1/.dep.inc

TP_2a/TP2_ej_2/build
TP_2a/TP2_ej_2/dist
TP_2a/TP2_ej_2/nbproject
TP_2a/TP2_ej_2/Makefile
TP_2a/TP2_ej_2/.dep.inc

.directory
